<div id="TabHistorico" class="tab-pane">
    <br />
    <p>
        Estão relacionados aqui todos os eventos relacionados ao funcionario</p>

    <label for="filtro">Mostra filtrados</label>
    <input name="filtro" id="filtro" type="text" />

    <table class="display" id="tblEventos">
        <thead>
            <tr>
                <th>Data</th>
                <th>Anotação</th>
                <th>Anexo</th>
                <th>Download</th>
            </tr>
        </thead>
        <tr class="active">
            <td>01/01/2018</td>
            <td>O funcionário foi contratado</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>

         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>


         <tr>
            <td>05/01/2018</td>
            <td>Criado email corporativo adelson@tecnun.com.br</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o VR</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>05/02/2018</td>
            <td>Cadastrado o Vale Transporte</td>
            <td>N/A</td>
            <td></td>
        </tr>
        <tr>
            <td>03/03/2018</td>
            <td>Marcado exame Admissional</td>
            <td>Formulario</td>
            <td>Baixar</td>
        </tr>

        <tr>
            <td>04/03/2018</td>
            <td>Ferias marcadas para 01/05/2018</td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td>04/03/2018</td>
            <td>Ausencia médica</td>
            <td>Atestado</td>
            <td>Baixar</td>
        </tr>



    </table>

</div>

