<div id="TabEscolaridade" class="tab-pane">
    <div class="form-edit">
        <br />
        <div class="container-fluid" id="cnt_DocumentosRG">
            
            <div class="row">
                    <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="VR" aria-label="...">
                        </span>
                        <input type="text" name="VR" class="form-control disabled" value="Vale Refeição" disabled>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="VT" aria-label="...">
                        </span>
                        <input type="text" name="VT" class="form-control disabled" value="Vale Transporte" disabled>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
               
                 <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
                        <input type="text" name="vr" class="form-control disabled" value="Plano de Saude" disabled>
                    </div>
                    </div>

                <div class="col-md-4">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success">Selecione uma empresa : </button>
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">AMIL</a></li>
                    <li><a href="#">Sulamerica</a></li>
                    <li><a href="#">Medial</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Outra</a></li>
                  </ul>

                </div>
                    </div>

                <div class="col-md-4">

                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"></span>
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" value="AMIL">
                </div>
                    </div>


                    <!-- /input-group -->
        </div>
        </div>
</div>

