<div id="TabDoc" class="tab-pane">
    <div class="form-edit">
        <legend>
            <h5 class="cor_titulos"><strong><span class="glyphicon glyphicon-user"></span>&nbsp;Identificação</strong></h5>
        </legend>

        <div class="container-fluid" id="cnt_DocumentosRG">
            <div class="row" id="docRG">
                <div class="form-group col-md-3">
                    <label class="control-label" for="RG_Num">RG</label>
                    <input id="RG_Num" class="form-control" name="RG_Num" placeholder="Digite o numero do RG" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label" for="RG_DtEmissao">Data de Emissão</label>
                    <input id="RG_DtEmissao" class="form-control" name="RG_DtEmissao" placeholder="Informa a data de emissão" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label " for="RG_OrgaoEmissor">Orgão Emissor</label>
                    <input id="RG_OrgaoEmissor" class="form-control" name="RG_OrgaoEmissor" placeholder="Informe o orgão emissor" type="text" />
                </div>
            </div>

            <div class="row" id="docCPF">
                <div class="form-group col-md-3">
                    <label class="control-label" for="CPF_Num">CPF</label>
                    <input id="CPF_Num" class="form-control" name="CPF_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label" for="CPF_Num">CNH</label>
                    <input id="Text5" class="form-control" name="CPF_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label" for="CPF_Num">Categoria</label>
                    <input id="Text6" class="form-control" name="CPF_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>

            </div>

            <div class="row" id="Div1">
                <div class="form-group  col-md-6">
                    <label class="control-label" for="CPF_NomeMae">Nome da Mãe</label>
                    <input id="CPF_NomeMae" class="form-control" name="CPF_NomeMae" placeholder="Informe o nome completo da mãe" type="text" />
                </div>
                                <div class="form-group  col-md-6">
                    <label class="control-label" for="CPF_NomeMae">Nome do Pai</label>
                    <input id="Text2" class="form-control" name="CPF_NomeMae" placeholder="Informe o nome completo da mãe" type="text" />
                </div>
            </div>
        </div>


        <legend>
            <h5 class="cor_titulos"><strong><span class="glyphicon glyphicon-user"></span>&nbsp;Carteira de Trabalho/Previdencia Social</strong></h5>
        </legend>

        <div class="container-fluid" id="cnt_DocumentosCT">
            <div class="row" id="docCT">
                <div class="form-group col-md-4">
                    <label class="control-label" for="CT_Num">Numero da CTPS</label>
                    <input id="CT_Num" class="form-control" name="CT_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_Serie">Serie</label>
                    <input id="CT_Serie" class="form-control" name="CT_Serie" placeholder="Serie" type="text" />
                </div>

                <div class="form-group  col-md-2">
                    <label class="control-label" for="CT_DtEmissao">Data de Emissão</label>
                    <input id="CT_DtEmissao" class="form-control" name="CT_DtEmissao" placeholder="Data de emissão da CT" type="text" />
                </div>

                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_Estado">Estado</label>
                    <input id="CT_Estado" class="form-control" name="CT_Estado" placeholder="UF de emissão da CT" type="text" />
                </div>

            </div>

            <div class="row" id="Div2">
                <div class="form-group col-md-4">
                    <label class="control-label" for="CT_Num">NIT/PIS/PASEP</label>
                    <input id="Text1" class="form-control" name="CT_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_DtEmissao">Data de Emissão</label>
                    <input id="Text3" class="form-control" name="CT_DtEmissao" placeholder="Data de emissão da CT" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_Estado">Estado</label>
                    <input id="Text4" class="form-control" name="CT_Estado" placeholder="UF de emissão da CT" type="text" />
                </div>
            </div>

             <div class="row" id="Div4">
                <div class="form-group col-md-4">
                    <label class="control-label" for="CT_Num">Numero do Titulo de Eleitor</label>
                    <input id="Text7" class="form-control" name="CT_Num" placeholder="Digite o numero do CPF" type="text" />
                </div>
                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_Serie">Seção</label>
                    <input id="Text8" class="form-control" name="CT_Serie" placeholder="Serie" type="text" />
                </div>

                <div class="form-group  col-md-2">
                    <label class="control-label" for="CT_DtEmissao">Zona</label>
                    <input id="Text9" class="form-control" name="CT_DtEmissao" placeholder="Data de emissão da CT" type="text" />
                </div>

                <div class="form-group  col-md-3">
                    <label class="control-label" for="CT_Estado">Estado</label>
                    <input id="Text10" class="form-control" name="CT_Estado" placeholder="UF de emissão da CT" type="text" />
                </div>
                </div>
        </div>
    </div>
</div>

